<section class="settings-section">

        <ul class="flash-settings">
                <% for (let val of error_msg) {%>
                    <li class="flash-style f-error">
                            <div class="flash-info">
                                <span><strong>Error</strong></span>
                                <span><%=val.msg%></span>
                            </div>
                            <div class="flash-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
                    </li>
                <% } %>
                <% for (let val of success_msg) {%>
                    <li class="flash-style f-success">
                            <div class="flash-info">
                                <span><strong>Success</strong></span>
                                <span><%=val.msg%></span>
                            </div>
                            <div class="flash-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
                    </li>
                <% } %>        
        </ul>

    <div class="settings-wrapper">

        <div class="settings-selection">                
            <a href="/users/settings?tab=profile"><img src="#" alt="profile"/><span>Profile</span></a>
            <a class="sttng-select" href="/users/settings?tab=account"><img src="#" alt="Account Settings"/><span>Account Settings</span></a>
        </div>

        <div class="settings-options">
            <div>
                <span>Account Settings</span>
            </div>
            <!-- Email change -->
            <div>
                <form method="POST" action="/users/change_acc_email">
                    <label for="email-setting">Account email</label>
                    <input id="email-setting" type="email" name="email" placeholder="<%=User.email%>"/>
                    <button type="submit">Save</button>
                </form>
            </div>
            <!-- Password change -->
            <div>
                <div>
                    <span>Password</span>
                    <span>Change password</span>
                </div>
                <div>
                    <form method="POST" action="/users/change_password">
                        <div>
                            <label>Current</label>
                            <input type="password" name="currentPass"/>
                        </div>
                        <div>
                            <label>New</label>
                            <input type="password" name="newPass"/>
                        </div>
                        <div>
                            <label>Re-type new</label>
                            <input type="password" name="retypeNewPass"/>
                        </div>
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
            <!-- Portfolio Link change -->
            <div>
                <div>
                    <span>Website Url</span>
                    <span>Edit</span>
                </div>
                <form method="POST" action="/users/change_web_url">
                    <div>
                        <label>Website Link</label>
                        <input type="url" placeholder="<%=User.portfolioUrl%>" name="url"/>
                    </div>
                    <div>
                        <label>Website Type</label>
                        <select name="websiteType">
                                <option value="" disabled selected hidden>Select your option</option>
                                <option value="generalPortfolio">General Portfolio</option>
                                <option value="creativePortfolio">Creative Portfolio</option>
                                <option value="artPortfolio">Art Portfolio</option>
                                <option value="photographyPortfolio">Photography Portfolio</option>
                                <option value="videographyPortfolio">Videography Portfolio</option>
                                <option value="avademicPortfolio">Academic Portfolio</option>
                                <option value="professionalPortfolio">Professional Portfolio</option>
                                <option value="businessPortfolio">Business Portfolio</option>
                            </select>
                    </div>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>

    </div>

</section>