<div class="setup-wrapper">

<header class="portlogue-setup-icon">
    <img src="/assets/icons/portlogue-setup-icon.svg" alt="PortLogue-icon"/>
</header>

<section>
    <div class="country-setup">
    <div class="setup-greeter">
        <h1 style="color: #636363;">Link your personal website</h1>
        <p class="h1-sub" style="color: #7c7c7c;">Showcase your website to the <br/> portlogue community!</p>
    </div>
    <div>
        <form method="POST" action="" class="country-setup-form">
            <div class="country-2-div">
            <label for="link">Link</label>
            <input id="linkInput" type="url" name="link" placeholder="https://www.YourWebsite.com"/>
            </div>
            <div class="country-1-div">
            <label for="websiteType">Website type</label>
            <select name="websiteType">
                <option value="generalPortfolio">General Portfolio</option>
                <option value="creativePortfolio">Creative Portfolio</option>
                <option value="artPortfolio">Art Portfolio</option>
                <option value="photographyPortfolio">Photography Portfolio</option>
                <option value="videographyPortfolio">Videography Portfolio</option>
                <option value="avademicPortfolio">Academic Portfolio</option>
                <option value="professionalPortfolio">Professional Portfolio</option>
                <option value="businessPortfolio">Business Portfolio</option>
            </select>
            </div>
            <button class="setup-button" type="submit">Finish</button>
        </form>
    </div>
    </div>
</section>

<% for(let val of errors) {%>
    <li><%= val.msg %></li>
<% } %>

</div>

<script>

    $(`#linkInput`).on(`click`, ()=> {
        let text = $(`#linkInput`);
        (!text.val()) ?  text.val(`https://${text.val()}`) : "";
    });

    $(`.setup-button`).on(`click`, ()=> {
        $(`.setup-button`).attr(`disabled`,`true`);
        $(`.setup-button`).html(`<div class="loader"></div>`);
        $(`.country-setup-form`).submit();
    });

</script>