<div class="setup-wrapper">

<header class="portlogue-setup-icon">
        <img src="/assets/icons/portlogue-setup-icon.svg" alt="PortLogue-icon"/>
</header>

<section class="avatar-section">
    <div class="setup-greeter">
        <h1 style="color: #636363;">Add a profile photo</h1>
        <p class="h1-sub" style="color: #7c7c7c;">Help people recognize you</p>
    </div>
    <div class="setup-avatar">
        <div class="avatar-wrapper">
                <img src="/publicAvatar/<%=User.email%>"/>
        </div>
        <div class="setup-avatar-desc">
            <h2><%= User.fullName %></h2>
            <p><%= User.occupationDisplay %></p>
            <p><%= User.countryDisplay %></p>
        </div>
    </div>

    <div class="avatar-form">
        <form id="avatar-form-proccess" method="POST" action="" enctype="multipart/form-data">
            <input class="avatar-input" id="uploadAvatarPhoto" type="file" name="avatar"/>
            
            <button class="avatar-button" type="submit" id="submitButton">Upload</button>
        </form>
        <a class="avatar-next" href="/users/first_time_setup_link">Next</a>
    </div>
</section>
</div>

<script>
        $(`.avatar-button`).on(`click`, ()=> {
            $(`.avatar-button`).attr(`disabled`,`true`);
            $(`.avatar-button`).html(`<div class="loaderB"></div>`);
            $(`#avatar-form-proccess`).submit();
        });
    </script>
