<header>
    <img alt="PortLogue-icon"/>
</header>

<section>
    <div>
        <h1>Link your personal website</h1>
        <p>Showcase your website to the portlogue community</p>
    </div>
    <div>
        <form method="POST" action="">
            <div>
            <label for="link">Link</label>
            <input type="url" name="link"/>
            </div>
            <div>
            <label for="websiteType">Website type</label>
            <select name="websiteType">
                <option value="generalPortfolio">General Portfolio</option>
                <option value="artPortfolio">Art Portfolio</option>
                <option value="photographyPortfolio">Photography Portfolio</option>
                <option value="videographyPortfolio">Videography Portfolio</option>
                <option value="avademicPortfolio">Academic Portfolio</option>
                <option value="professionalPortfolio">Professional Portfolio</option>
                <option value="creativePortfolio">Creative Portfolio</option>
            </select>
            </div>
            <button type="submit">Finish</button>
        </form>
    </div>
</section>

<% for(let val of errors) {%>
    <li><%= val.msg %></li>
<% } %>