
        
        <section class="about-structure">
            <div><h2>What is it?</h2></div>
            <p class="p-align">Portlogue was born with the idea that websites needed a platform where 
            sharing and browsing could be done intuitively and easily. Often times many of these websites 
                go unnoticed and ultimately end up lost in the web. Portlogue solves this problem by 
                having an easy to use filter that will help website owners get exposure for their site and browsing
                users find their desired sites more effectively.
            </p>
        </section>
        <section class="about-structure">
            <div><h2>Development</h2></div>
            <p class="p-align">Currently, portlogue is in beta and development is being done by a 
            small team of programmers. Many of portlogue's functionality are still unavailable such
            as messaging, a hub, and other planned features. With that said, rest assured that we are pushing to get the site done
            as soon as the bugs permit.</p>      
                
            <p class="p-align"><em>Portlogue is looking to expand it’s development team</em>, if you are interested in joining the team 
            and help out with the development of the site you can find our information in the contact page. 
            Similarly, if you want to have a closer look 
            at portlogue’s devlopment or just want to come say hi to the team, you can find our social media 
            and email links in the footer section and the contact page. </p>
        </section>
        