<form method="POST" action="">
    <input type="email" name="email" placeholder="E-mail"/>
    <input type="password" name="password" placeholder="Password"/>
    <button type="submit">Login</button>
</form>
<p><%= success_msg ? success_msg : "" %></p>
<p><%= error ? error : "" %></p>
<p><%= error_msg ? error_msg : "" %></p>