<section>

    <div class="settings-wrapper">

        <div class="settings-selection">
            <div>
                <img src="#" alt="profile"/>
                <span>Profile</span>
            </div>
            <div>
                <img src="#" alt="Account Settings"/>
                <span>Account Settings</span>
            </div>
        </div>

        <div class="settings-options">
            <div>
                <span>Profile</span>
            </div>
            <!-- Avatar change -->
            <div>
                
            </div>
            <!-- Peronsal information -->
            <div>
                <span>Personal Information</span>
                <div>
                    <form method="POST" action="">

                    </form>
                </div>
            </div>
        </div>

    </div>

</section>