<section class="settings-section">

        <ul class="flash-settings">
                <% for (let val of error_msg) {%>
                    <li class="flash-style f-error">
                            <div class="flash-info">
                                <span><strong>Error</strong></span>
                                <span><%=val.msg%></span>
                            </div>
                            <div class="flash-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
                    </li>
                <% } %>
                <% for (let val of success_msg) {%>
                    <li class="flash-style f-success">
                            <div class="flash-info">
                                <span><strong>Success</strong></span>
                                <span><%=val.msg%></span>
                            </div>
                            <div class="flash-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
                    </li>
                <% } %>        
        </ul>

    <div class="settings-wrapper">

            <header class="settings-header"><h1><img style="height: 30px;" src="/assets/icons/icons8-settings-96.png" alt="Account Settings"/>Account Settings</h1><span style="color: #bbbbbb;" class="h1-sub">Change your account information</span></header>

        <div class="settings-selection">                
            <a href="/users/settings?tab=profile"><img class="nav-icons" src="/assets/icons/icons8-user-96.png" alt="profile"/><span class="setting-select-name">Profile</span></a>
            <a href="/users/settings?tab=account" class="settings-selected-a"><img class="nav-icons" src="/assets/icons/icons8-settings-96.png" alt="Account Settings"/><span class="setting-select-name">Account Settings</span></a>
            <a href="/users/settings?tab=website"><img class="nav-icons" src="/assets/icons/icons8-website-96.png" alt="Account Settings"/><span class="setting-select-name">Websites</span></a>
        </div>

        <div class="settings-options">

            <!-- Email change -->
            <div class="acc-email-change">
                <form method="POST" action="/users/change_acc_email">
                        <label for="email-setting">Account email</label>
                        <div class="email-change-input">
                            <div></div>
                            <input id="email-input" type="email" name="email" placeholder="<%=User.email%>"/>
                            <div></div>
                        </div>
                        <button disabled id="email-change-submit" type="submit">Save</button>
                </form>
            </div>
            <!-- Password change -->
            <div class="acc-pass-change">
                <div class="acc-pass-divOne">
                    <span class="settings-sub-heading">Password</span>
                    <span id="changePassShow" class="set-edit">Change password</span>
                </div>
                    <form class="acc-pass-divTwo" method="POST" action="/users/change_password">
                        <div>
                            <label>Current</label>
                            <input type="password" name="currentPass"/>
                            <label></label>
                        </div>
                        <div>
                            <label>New</label>
                            <input type="password" name="newPass"/>
                            <label></label>
                        </div>
                        <div>
                            <label>Re-type new</label>
                            <input type="password" name="retypeNewPass"/>
                            <label></label>
                        </div>
                        <div class="aboutYou-info-save acc-pass-submit">
                            <button type="submit">Save</button>
                            <label></label>
                        </div>
                    </form>
            </div>
        </div>

    </div>

</section>

<script>

    $("#email-input").on("focus", ()=> {
        $("#email-change-submit").prop("disabled", false);
    });

    $("#changePassShow").on("click", ()=> {
        ($(".acc-pass-divTwo").css("display") == "flex") ? $(".acc-pass-divTwo").css("display", "none") : $(".acc-pass-divTwo").css("display", "flex");
        $(".acc-port-divTwo").css("display", "none");
    });

    $("#urlChangeShow").on("click", ()=> {
        ($(".acc-port-divTwo").css("display") == "flex") ? $(".acc-port-divTwo").css("display", "none") : $(".acc-port-divTwo").css("display", "flex");
        $(".acc-pass-divTwo").css("display", "none");
    });

</script>