* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "MyriadPro-Reg";
    src: url("../fonts/MyriadPro-Reg.woff") format("woff");
}

@font-face {
    font-family: "MyriadPro-Bold";
    src: url("../fonts/MyriadPro-Bold.woff") format("woff");
}

html {
    height: 100%;
} 
body {
    font-family: "MyriadPro-Reg";
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: grey;
}

input,
textarea,
button {
    font-family: "MyriadPro-Reg";
    font-weight: normal;
}

input, textarea {
    font-size: 16px;
}

body strong {
    font-family: "MyriadPro-Bold";
}

h1 {
    font-size: 34px;
    font-weight: normal;
}

.h1-sub {
    font-size: 21px;   
}

h2 {
    font-size: 32px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

.h3-sub {
    font-size: 16px;
}

.href-disabled {
    cursor: default;
    text-decoration: none;
    pointer-events: none;
}

.no-display{
    display: none;
}

.Login-Register {
    height: 100%;
    width: 100%;

    background-color: #21283e;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow: auto;
}

.Login-Register a {
    color: #3498db;
    text-decoration: none;
}

.loginPage-wrap {
    width: 405px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;  
}

.login-header > h1 {
    margin-bottom: 5px;
}

.login-form {
    
    
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form > input:last-of-type {
    margin: 30px 0;
}

.login-form > input {
    height: 45px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #2c3247;
    color: #fff;
}

.login-form > button {
    height: 45px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #3082b8;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-form > button:hover {
    background-color: #266e96;
}

.login-sub-text {
    margin-top: 30px;
    text-align: center;
}

.login-sub-text > p {
    margin-top: 5px;
    color: #656978;
}

.login-flash-message {
    margin-top: 5px;
    text-align: center;
}

/** Register Page **/
.register-page {
    height:100vh;

    width: 100%;

    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: scroll;
}

.register-page::-webkit-scrollbar {
    display: none;
}

.register-page a {
    text-decoration: none;
    color: #3582b4;
}


.register-artwork {
    width: 100%;
}


.register-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.register-header {
    text-align: center;
}

.register-form {

    box-shadow: 0px 0px 20px -8px;
    width: 580px;
    height:100vh;

    padding: 50px;
    background-color: #21283e;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.register-form > input:first-of-type {
    margin-top: 50px;
}

.register-form  input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #2c3247;
    color: #fff;
    margin: 15px 0;
}

.register-form > div:nth-of-type(2) {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.register-form > div:nth-of-type(2) > input {
    width: 48%;
}

.register-form > button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #3082b8;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 30px 0;
}

.register-flash-message {
    text-align: center;
    list-style: none;
    color: #e74c3c;
    margin: 10px 0;
}

.register-form > button:hover {
    background-color: #266e96;
}

/* Setup Pages */

.setup-wrapper {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
}

.portlogue-setup-icon {
    position: absolute;
    top: 50px;
    left: 150px;
}

.portlogue-setup-icon > img {
    width: 190px;
}

.setup-section {
    width: 700px;
    height: 500px;
}

.setup-greeter {
    text-align: center;
    margin-top: 50px;
}

.setup-greeter p {
    margin-top: 5px;
}

.setup-button {
    width: 500px;
    height: 40px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 130px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setup-button:disabled {
    cursor: default;
}

.loader {
    border: 4px solid #fff; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 0.8s linear infinite;
    position: absolute;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loaderB {
    border: 4px solid #fff; /* Light grey */
    border-top: 4px solid #7f7f7f; /* Blue */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 0.8s linear infinite;
    position: absolute;
  }

/* Country and postal code  */

.country-setup {
    padding-top: 150px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.country-setup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-1-div,
.country-2-div {
    display: flex;
    flex-direction: column;
    color: #aaaaaa;
    margin: 8px 0;
}

.country-1-div select,
.country-2-div input {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1.5px solid #7f7f7f;
    margin-top: 5px;
    padding: 5px;
}

.country-2-div textarea {
    width: 500px;
    height: 100px;
    border-radius: 5px;
    resize: none;
    border: 1.5px solid #7f7f7f;
}

/* Profile Setup */
.profile-setup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Setup Avatar */

.avatar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setup-avatar {
    margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;

    height: 500px;
    width: 450px;
}

.setup-avatar-desc {
    text-align: center;
}

.setup-avatar-desc h2,
.setup-avatar-desc p {
    margin: 5px 0;
}

.avatar-wrapper {
    border-radius: 500px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-wrapper img {
    height: 100%;
}

.avatar-input {
    margin: 10px 0 5px 0;
}

.avatar-button,
.avatar-next {
    margin: 5px;
}

.avatar-button {
    border: 1.5px solid #7f7f7f;
    width: 450px;
    height: 40px;
    background-color: transparent;
    color: #636363;
    cursor: pointer;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-button:disabled {
    cursor: default;
}

.avatar-next {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 450px;
    height: 40px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
}

/* HOME PAGE */

.hidden-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

/* Home nav */

.home-header {

    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
}

.home-left-nav a {
    color: #bbbbbb;
    text-decoration: none;
    transition: 0.1s ease-in;
}

.home-left-nav a:hover {
    color: #fff;
}

.home-nav {
    width: 100%;
    height: 100%;
    /*background-color: #fbfbfb;*/
    background-color: #21283e;
    display: flex;
    justify-content: space-between;
}

.nav-icons {
    width: 24px;
}

.profile-icon-wrapper {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nav-profile-icon {
    height: 100%;
}

.home-left-nav,
.home-right-nav {
    display: flex;
    align-items: center;
    width: 600px;
    z-index:1;
}

.home-right-nav {
    justify-content: flex-end;
}

.home-left-nav > ul,
.home-right-nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.home-left-nav > ul > li,
.home-right-nav > ul > li {
    margin: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.home-left-nav > ul > li:first-of-type {
    margin-left: 30px;
}

.home-right-nav > ul > li:last-of-type {
    margin-right: 30px;
}

.home-nav-dropdown {
    font-size: 14px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 0px 5px -2px black;

    position: absolute;
    top: 50px;
    right: 0;

    display: none;
    width: 180px;

    list-style: none;
    text-align: left;
    border-radius: 5px;
}

.home-nav-dropdown > li > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #7f7f7f;
}

.home-nav-dropdown > li > a:hover {
    background-color: #e5e5e5;
}

/* Home search */
.home-search {
    height: 100%;
    width: 550px;
    display: flex;
    align-items: center;
    background-color: #21283e;
}

.home-search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 5px 0 5px 5px;
    box-shadow: 0px 4px 10px -8px;
    background-color: #fff;

    height: 35px;
    width: 730px; /* CHANGE FOR MOBILE */

    margin: 30px 0;
}

.home-search-form > form {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.home-search-form > form > button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.home-search-form > form > input {
    outline: none;
    border: none;
    padding: 0 10px;
    border-right: 1px solid #d3d3d3;
    width: 90%;
    height: 80%;
}

.home-quick-search {
    position: relative;
    width: 200px;
    margin-right: 3px;
}

.home-quick-search a,
.home-quick-search p {
    color: #bbbbbb;

}

.home-quick-search > div > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home-quick-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 10px -8px;
    margin-top: 15px;
    width: 112%;
    left: -15px;
    top: 12px;
    text-align: center;
    list-style: none;
}

.home-quick-search a {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.home-quick-dropdown > li:last-of-type > a{
    border-radius: 0 0 8px 8px;
} 

.home-quick-search a:hover {
    background-color: grey;
    color: #fff;
}

.user-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 230px;
    color: #d3d3d3;
}

.user-history ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-history > ul > li {
    margin: 10px 5px;
}

.history-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    overflow: hidden;
    background-color: #747474;
}

.user-history-profiles {
    height: 100%;
}

/* Settings Page */

.flash-settings {
    position: fixed;
    top: 65px;
    left: 30px;
    list-style: none;
}

.f-success {
    border-left: 4px solid #2ecc71;
}

.f-error{
    border-left: 4px solid #c0392b;
}

.flash-style {
    background-color: #ffffff;
    box-shadow: 0px 1px 10px -2px rgba(133,133,133,1);
    
    width: 360px;
    height: 65px;
    border-radius: 3px;
    margin: 10px 0;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.flash-style span {
}

.flash-info {
    display: flex;
    flex-direction: column;
}

.flash-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.flash-close img {
    height: 100%;
}

.settings-sub-heading{
    color: #7f7f7f;
    font-size: 18px;
}

.settings-section {
    background-color: #f4f4f4;
    padding: 40px 0 40px 0;
}

.settings-wrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}


.settings-selection {
    background-color: #fff;
    box-shadow: 0px 1px 10px -2px rgba(133,133,133,1);
    border-radius: 5px;
    
    color: #969696;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
}

.settings-selection a {
    color: #969696;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.setting-select-name {
    margin-left: 5px;
}

.settings-selection > a:first-of-type {
    border-radius: 5px 5px 0 0;
}

.settings-options {
    box-shadow: 0px 1px 10px -2px rgba(133,133,133,1);
    background-color: #fff;
    border-radius: 5px;
    width: 79.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px;
}

.settings-options > div {
    border-top: 1px solid #bbbbbb;
    width: 100%;
    padding: 20px 30px;
    color: #969696;
}

.settings-options > div:first-of-type {
    border-top: none;
}

.avatar-change {
    display: flex;
    flex-direction: column;
}

.set-avatar-formOne {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.set-avatar-display {
    display: flex;
    align-items: center;
}

.set-avatar-img-wrap {
    background-color: grey;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 10px;
}

.set-avatar-img-wrap img{
    height: 100%;
}

.set-edit {
    cursor: pointer;
    color: #3498db;
}

.set-avatarChange-form {
    display: none;
    margin-top: 20px;
}

.personal-info > span {
}

.personal-info-form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.personal-info-input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.personal-info-input > input,
.personal-info-input > textarea,
.personal-info-input > select {
    resize: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
}

.personal-info-div {
    width: 49%;
}

.personal-info-save {
    display: flex;
    justify-content: flex-end;
}

.personal-info-save button {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #3498db;
    cursor: pointer;
    padding: 5px;
}

.personal-info-save button:disabled {
    color: #bbbbbb;
    cursor: default;
}

/* lazy sus code */

.aboutYou-info > span {
}

.aboutYou-info-form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.aboutYou-info-input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.aboutYou-info-input > input,
.aboutYou-info-input > textarea,
.aboutYou-info-input > select {
    resize: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
}

.aboutYou-info-div {
    width: 49%;
}

.aboutYou-info-save {
    display: flex;
    justify-content: flex-end;
}

.aboutYou-info-save button {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #3498db;
    cursor: pointer;
    padding: 5px;
}

.aboutYou-info-save button:disabled {
    color: #bbbbbb;
    cursor: default;
}
/**/

.acc-email-change > form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-change-input {
    display: flex;
    justify-content: center;
    width: 510px;
}

#email-change-submit {
    color: #3498db;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#email-change-submit:disabled {
    color: #bbbbbb;
    cursor: default;
}

.email-change-input > input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
    width: 59%;
}

.email-change-input > div:first-of-type {
    width: 13%;
}

.email-change-input > div:last-of-type {
    width: 27%;
}

#change-pass-display {
    color: #3498db;
    cursor: pointer;
}

.acc-pass-divOne {
    display: flex;
    justify-content: space-between;
}

.acc-pass-divTwo {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.acc-pass-divTwo > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 510px;
    margin-bottom: 10px;
}

.acc-pass-divTwo > div > label {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.acc-pass-divTwo > div > input,
.acc-pass-divTwo > div > select {
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
}

.acc-pass-divTwo > div:last-of-type {
    justify-content: flex-end;
}

.acc-port-divTwo {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.acc-port-divTwo > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 510px;
    margin-bottom: 10px;
}

.acc-port-divTwo > div > label {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.acc-port-divTwo > div > input,
.acc-port-divTwo > div > select {
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
}

.acc-port-divTwo > div:last-of-type {
    justify-content: flex-end;
}

/* Search Page */

.search-page-wrapper,
.search-header {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-nav a {
    text-decoration: none;
    color: #969696;
}

.search-nav-left,
.search-nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.search-nav-left li,
.search-nav-right li{
    margin: 0 15px;
}

.search-nav-left li:first-of-type {
    margin-left: 50px;    
}

.search-nav-right li:first-of-type {
    margin-right: 50px;
}

.search-index-wrapper {
    margin-top: 55px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-index-greeter {
    text-align: center;
}

.search-index-form {
    margin-top: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background-color: #fff;
    height: 45px;
    width: 70%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-index-button {
    background-color: #fff;
    border: none;
    outline: none;
    margin: 0 10px;
}

.search-index-input {
    height: 80%;
    width: 100%;
    border: none;
    outline: none;
}

.search-result-notif {
    margin: 30px 0;
}

.search-result-wrapper {
    width: 70%;
    min-height: 58vh;
}

.search-result {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 5px 12px -8px rgba(133,133,133,1);
    margin-bottom: 10px;
    transition: 0.1s ease-in-out;
}

.search-result:hover {
    border: 1px solid grey;
    transform: scale(1.02);
}

.search-result-img-wrap {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
    background-color: grey;
}

.search-result-img-wrap img {
    height: 100%;
}

.search-result-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    padding: 10px;
    text-decoration: none;
    color: #969696;
}

.search-functions {
    border-left: 1px solid #bbbbbb;;
    height: 75px;
    width: 200px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.search-functions a {
    text-decoration: none;
    color: #969696;
}

.search-end {
    color: #969696;
    padding-bottom: 40px;
}

/* Friend Request Styles*/

.add-friend-dropdown{
    display: none;
    position: absolute;
    top: 50px;
    right: -20px;
    border-radius: 5px;
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 0px 5px -2px black;
    font-size: 14px;
}

.freq-header {
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.frequestTab {
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    height: 60px;
    border-top: 1px solid #c6c6c6;
    border-bottom : 1px solid #;
}

.freq-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.freq-response {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.freq-response-accept,
.freq-response-decline {
    padding: 4px 10px;
    cursor: pointer;
}

.freq-response-accept {
    border: none;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 2px;
}

.freq-response-decline {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: #dddddd;
    color: #7f7f7f;
}

/* DISCOVER SECTION */

.web-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#web-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.for-allign {
    width: 24px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.filter-icon-span {
    color: #bbbbbb;
}

.filterLabel {
    cursor: pointer;
    position: relative;
    right: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 0;
    transition: 0.1s ease-in-out;
}

.filter-dropdown > li:first-of-type > a {
    border-radius: 5px 5px 0 0;
}

.filter-dropdown > li:last-of-type > a {
    border-radius: 0 0 5px 5px
}

.filter-dropdown {
    border-radius: 5px;
    border: 1px solid #cecbcb;
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    right: 30px;
    top: 125px;
    box-shadow: 0px 4px 10px -8px;
}

.filter-dropdown > li {
    height: auto;
    display: flex;
    
}

.filter-dropdown > li > a {
    color: #bbbbbb;
    text-align: right;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
}


.filter-dropdown > li > a:hover {
    background-color: grey;
    color: #fff;
}

#discoverSection {
    width: 100%;

    background-color: #f4f4f4;
}

.discover-nav {
    width: 100%;
    height: 60px;
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;

    border-bottom: 1px solid #c6c6c6;
}

.discover-nav > ul {
    list-style: none;

    display: flex;
    flex-direction: row;

    font-size: 18px;
}

.discover-nav > ul > li {
    margin: 0 20px;
}

.discover-nav > ul > li > a{
    text-decoration: none;
    color: #bbbbbb;
}

.discover-results {
    width: 100%;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.discover-results-ul {
    width: 90%;
    list-style: none;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.discover-results-ul a {
    text-decoration: none;
    color: #3498db;
}

.portfolio-select {
    margin: 30px 40px;
}

.portfolio-thumbnail {
    cursor: pointer;
    width: 430px;
    height: 257px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0px 4px 13px -8px black;

}

.portfolio-thumbnail-bar {
    width: 100%;
    height: 15px;
    background-color: #e5e5e5;
}

.portfolio-thumbnail-img {
    width: 100%;
}

.thumbnail-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.thumb-profile-wrapper {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 10px;
    background-color: grey;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-profile-img {
    height: 100%;
    margin-left: 10px; /* toFix not sure why I have to do this */
}

.profile-name-wrapper > a {
    display: flex;
    align-items: center;
}

.profile-name-wrapper img {
    margin-right: 10px;
}

.occupation-flex {
    color: #bbbbbb;
}

.pageControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin-bottom: 10px;
}

.nextPag, 
.prevPag {
    border: 1px solid #bbbbbb;
    border-radius: 20px;
    padding: 3px 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.nextPag:disabled,
.prevPag:disabled {
    background-color: #f4f4f4;
    cursor: default;
}

#loadMoreButton {
    margin-bottom: 50px;
    padding: 10px 20px;

    background-color: transparent;
    border: 2px solid #3498db;
    color: #3498db;
    border-radius: 4px;
    outline: none;

    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#loadMoreButton:hover {
    background-color: #3498db;
    color: #fff;
}

#loadMoreButton:active {
    background-color: #2980b9;
    color: #fff;
}

/* FOOTER */
footer {
    background-color :#fff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #7f7f7f;
}

footer a {
    color: #7f7f7f;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer li:first-of-type {
    margin-top: 10px;
}

footer li {
    margin: 5px 0;
}

.footer-desc {
    margin: 40px 0;

    text-align: left;
    width: 410px;
}

.footer-desc-span {
    font-size: 18px;
}

.footer-desc-p {
    font-size: 16px;
    margin-top: 10px;
}

.footer-desc-social {
    display: flex;
    margin: 10px 0; 
}

/* PROFILE PAGE*/

.profile-header {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #bbbbbb;
    height: 320px;
}

.profile-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-avatar-wrapper {
    background-color: #bbbbbb;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100px;
}

.profile-avatar {
    height: 100%;
}

.profile-fullName {
    font-size: 24px;
    color: #7f7f7f;
    margin: 5px 0;
}

.profile-location-email {
    display: flex;
    color: #bbbbbb;
}

.profile-location-email > div > img {
    margin: 0 2px 0 5px;
}

.profile-bio {
    color: #7f7f7f;
}

.profile-location-email > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-interact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.profile-addFriend,
.profile-message-button  {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 11px 0;
    width: 120px;
    border-radius: 50px;
    color: #fff;
    border: none;
    background-color: #3498db;
    cursor: pointer;
    margin: 8px 5px 0 5px;;
}

.profile-message-button {
    background-color: #464646;
}

.profile-website-display {
    background-color: #f4f4f4;
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-website-topbar {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: #7f7f7f;
    margin-top: 15px;
}

.profile-website-topbar > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7f7f7f;
    text-decoration: none;
}

/* Website Popup */

#close-hover {
    margin: 30px;
}

#hover-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#hover-overlay {
    z-index: 0;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.website-topbar {
    height: 55px;
    width: 100%;
    background-color: #e5e5e5;
    border-bottom: 1px solid #bbbbbb;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#profile-iframe {
    border: none;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.website-view {
    z-index:0;
    background-color: grey;
    width: 57%;
    height: 80%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}


#hover-interact {
    z-index: 0;
    background-color: #e5e5e5;
    width: 35%;
    height: 80%;
    border-radius: 10px;
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hover-interact > div:first-of-type {
    padding: 0 0 16px 0;
}

#hover-interact > div {
    padding: 16px 0;
}

.hover-avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.hover-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hover-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-head-fullname {
    text-decoration: none;
    color: #7f7f7f;
}

.sitename-fullname {
    display: flex;
    flex-direction: column;
    width: 192px;
    padding-left: 10px;
}

.like-favourite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.likeStyle.liked {
    background-color: #464646;
    color: #ffffff;
    border: none;
}


.favStyle.faved {
    background-color: #ed2553;
    color: #ffffff;
    border: none;
}

.favStyle.faved:hover {
    border: 1px solid #ed2553;
}

/* #464646;  ed2553 */
.likeStyle {
    margin-right: 10px;
}

.likeStyle:hover,
.favStyle:hover {
    border: 1px solid #464646;
}

.likeStyle,
.favStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 43px;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    border: 1px solid #bbbbbb;
    color: #464646;
    cursor: pointer;
}

.like-favourite > form > button > img {
    margin-right: 3px;
}


.hover-description {
    border-bottom: 1px solid #bbbbbb;
    width: 100%;
}

.comment-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.comment-post > form {
    margin-top: 10px;
    width: 100%;
}

.comment-post > form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-post > form > div:last-of-type {
    justify-content: flex-end;
    margin-top: 5px;
}

.avatar-squish-fix {
    width: 60px;
}

#commentValue {
    width: 100%;
    margin-left: 10px;
    height: 45px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    resize: none;
    outline: none;
    transition: 0.1s linear;
}

#commentValue:focus {
    box-shadow: 0 0 5px grey; 
}

#comment {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #aaaaaa;
}

#comment:hover {
    color: #7f7f7f;
}

#comment-render {
    overflow: auto;
    list-style: none;
    width: 100%;
    display: flex; 
    flex-direction: column;
}

#comment-render > li {

    display: flex;
    padding: 10px 0;
}

.comment-head {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.comment-head > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-head-fullname {
    color: black;
    text-decoration: none;
}

.comment-head-fullname:hover {
    color: #3498db;
}

.comment-foot {
    margin-top: 10px;
}

/** media queries **/

@media only screen and (max-width: 400px) { /** Mobile Version **/
    
    .register-artwork {
        display: none;
    }
    .register-form {
        position: relative;
        left: 50px;
    }

}

@media only screen and (min-width: 401px) and (max-width: 960px) { /** tablet Version **/

}

@media only screen and (min-width: 961px) and (max-width: 1919px) {/** for 1336x 728 **/
    .qUser-info {
        height: 75%;
    }
    .setup-button{
        margin-bottom: 50px;
    }
    .likeStyle,
    .favStyle{
        width: 85px;
        height: 38px;
    }
}

@media only screen and (min-width: 1920px) {/** for 1920x1080 **/
  

}