* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "MyriadPro-Reg";
    src: url("../fonts/MyriadPro-Reg.woff") format("woff");
}

@font-face {
    font-family: "MyriadPro-Bold";
    src: url("../fonts/MyriadPro-Bold.woff") format("woff");
}

html {
    height: 100%;
} 
body {
    font-family: "MyriadPro-Reg";
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: grey;
}

input,
textarea,
button {
    font-family: "MyriadPro-Reg";
    font-weight: normal;
}

input, textarea {
    font-size: 16px;
}

body strong {
    font-family: "MyriadPro-Bold";
}

h1 {
    font-size: 34px;
    font-weight: normal;
}

.h1-sub {
    font-size: 21px;   
}

h2 {
    font-size: 32px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

.href-disabled {
    cursor: default;
    text-decoration: none;
    pointer-events: none;
}

.Login-Register {
    height: 100%;
    width: 100%;

    background-color: #21283e;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow: auto;
}

.Login-Register a {
    color: #3498db;
    text-decoration: none;
}

.loginPage-wrap {
    width: 405px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;  
}

.login-header > h1 {
    margin-bottom: 5px;
}

.login-form {
    
    
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form > input:last-of-type {
    margin: 30px 0;
}

.login-form > input {
    height: 45px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #2c3247;
    color: #fff;
}

.login-form > button {
    height: 45px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #3082b8;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-form > button:hover {
    background-color: #266e96;
}

.login-sub-text {
    margin-top: 30px;
    text-align: center;
}

.login-sub-text > p {
    margin-top: 5px;
    color: #656978;
}

.login-flash-message {
    margin-top: 5px;
}

/** Register Page **/
.register-page {
    height:100vh;

    width: 100%;

    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: scroll;
}

.register-page::-webkit-scrollbar {
    display: none;
}

.register-page a {
    text-decoration: none;
    color: #3582b4;
}


.register-artwork {
    width: 100%;
}


.register-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.register-header {
    text-align: center;
}

.register-form {

    box-shadow: 0px 0px 20px -8px;
    width: 580px;
    height:100vh;

    padding: 50px;
    background-color: #21283e;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.register-form > input:first-of-type {
    margin-top: 50px;
}

.register-form  input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #2c3247;
    color: #fff;
    margin: 15px 0;
}

.register-form > div:nth-of-type(2) {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.register-form > div:nth-of-type(2) > input {
    width: 48%;
}

.register-form > button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #3082b8;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 30px 0;
}

.register-flash-message {
    text-align: center;
    list-style: none;
    color: #e74c3c;
    margin: 10px 0;
}

.register-form > button:hover {
    background-color: #266e96;
}

/* HOME PAGE */

/* Home nav */

.home-header {
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
}

.home-left-nav a {
    color: #bbbbbb;
    text-decoration: none;
    transition: 0.1s ease-in;
}

.home-left-nav a:hover {
    color: #fff;
}

.home-nav {
    width: 100%;
    height: 100%;
    /*background-color: #fbfbfb;*/
    background-color: #21283e;
    display: flex;
    justify-content: space-between;
}

.nav-icons {
    width: 24px;
}

.profile-icon-wrapper {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nav-profile-icon {
    height: 100%;
}

.home-left-nav,
.home-right-nav {
    display: flex;
    align-items: center;
    width: 600px;
}

.home-right-nav {
    justify-content: flex-end;
}

.home-left-nav > ul,
.home-right-nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.home-left-nav > ul > li,
.home-right-nav > ul > li {
    margin: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.home-left-nav > ul > li:first-of-type {
    margin-left: 30px;
}

.home-right-nav > ul > li:last-of-type {
    margin-right: 30px;
}

.home-nav-dropdown {
    font-size: 14px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 0px 5px -2px black;

    position: absolute;
    top: 50px;
    right: 0;

    display: none;
    width: 180px;

    list-style: none;
    text-align: left;
    border-radius: 5px;
}

.home-nav-dropdown > li > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #7f7f7f;
}

.home-nav-dropdown > li > a:hover {
    background-color: #e5e5e5;
}

/* Home search */
.home-search {
    height: 100%;
    width: 550px;
    display: flex;
    align-items: center;
    background-color: #21283e;
}

.home-search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 5px 0 5px 5px;
    box-shadow: 0px 4px 10px -8px;
    background-color: #fff;

    height: 35px;
    width: 730px; /* CHANGE FOR MOBILE */

    margin: 30px 0;
}

.home-search-form > form {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.home-search-form > form > button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.home-search-form > form > input {
    outline: none;
    border: none;
    padding: 0 10px;
    border-right: 1px solid #d3d3d3;
    width: 90%;
    height: 80%;
}

.home-quick-search {
    position: relative;
    width: 200px;
    margin-right: 3px;
}

.home-quick-search a,
.home-quick-search p {
    color: #bbbbbb;

}

.home-quick-search > div > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home-quick-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 4px 10px -8px;
    margin-top: 15px;
    width: 112%;
    left: -15px;
    top: 12px;
    text-align: center;
    list-style: none;
}

.home-quick-search a {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.home-quick-dropdown > li:last-of-type > a{
    border-radius: 0 0 8px 8px;
} 

.home-quick-search a:hover {
    background-color: grey;
    color: #fff;
}

.user-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 230px;
    color: #d3d3d3;
}

.user-history ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-history > ul > li {
    margin: 10px 5px;
}

.history-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    overflow: hidden;
    background-color: #747474;
}

.user-history-profiles {
    height: 100%;
}

/* Friend Request Styles*/

.add-friend-dropdown{
    display: none;
    position: absolute;
    top: 50px;
    right: -20px;
    border-radius: 5px;
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 0px 5px -2px black;
    font-size: 14px;
}

.freq-header {
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.frequestTab {
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    height: 60px;
    border-top: 1px solid #c6c6c6;
    border-bottom : 1px solid #;
}

.freq-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.freq-response {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.freq-response-accept,
.freq-response-decline {
    padding: 4px 10px;
    cursor: pointer;
}

.freq-response-accept {
    border: none;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 2px;
}

.freq-response-decline {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: #dddddd;
    color: #7f7f7f;
}

/* DISCOVER SECTION */

#discoverSection {
    width: 100%;

    background-color: #f4f4f4;
}

.discover-nav {
    width: 100%;
    height: 60px;
    background-color: #fbfbfb;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;

    border-bottom: 1px solid #c6c6c6;
}

.discover-nav > ul {
    list-style: none;

    display: flex;
    flex-direction: row;

    font-size: 18px;
}

.discover-nav > ul > li {
    margin: 0 20px;
}

.discover-nav > ul > li > a{
    text-decoration: none;
    color: #bbbbbb;
}

.discover-results {
    width: 100%;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.discover-results-ul {
    width: 90%;
    list-style: none;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.discover-results-ul a {
    text-decoration: none;
    color: #3498db;
}

.portfolio-select {
    margin: 30px 40px;
}

.portfolio-thumbnail {
    width: 430px;
    height: 257px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0px 4px 13px -8px black;

}

.portfolio-thumbnail-bar {
    width: 100%;
    height: 15px;
    background-color: #e5e5e5;
}

.portfolio-thumbnail-img {
    width: 100%;
}

.thumbnail-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.thumb-profile-wrapper {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 10px;
    background-color: black;
}

.thumbnail-profile-img {
    height: 100%;
}

.profile-name-wrapper {
    display: flex;
    align-items: center;
}

.profile-name-wrapper img {
    margin-right: 10px;
}

.occupation-flex {
    color: #bbbbbb;
}

.pageControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin-bottom: 10px;
}

.nextPag, 
.prevPag {
    border: 1px solid #bbbbbb;
    border-radius: 20px;
    padding: 3px 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.nextPag:disabled,
.prevPag:disabled {
    background-color: #f4f4f4;
    cursor: default;
}

#loadMoreButton {
    margin-bottom: 50px;
    padding: 10px 20px;

    background-color: transparent;
    border: 2px solid #3498db;
    color: #3498db;
    border-radius: 4px;
    outline: none;

    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#loadMoreButton:hover {
    background-color: #3498db;
    color: #fff;
}

#loadMoreButton:active {
    background-color: #2980b9;
    color: #fff;
}

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #7f7f7f;
}

footer a {
    color: #7f7f7f;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer li:first-of-type {
    margin-top: 10px;
}

footer li {
    margin: 5px 0;
}

.footer-desc {
    margin: 40px 0;

    text-align: left;
    width: 410px;
}

.footer-desc-span {
    font-size: 18px;
}

.footer-desc-p {
    font-size: 16px;
    margin-top: 10px;
}

.footer-desc-social {
    display: flex;
    margin: 10px 0; 
}

/* PROFILE PAGE*/

.profile-ui-button {
    position: fixed;
    z-index: 10;
    width: 52px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(0.9);
    background-color: #000000;
    opacity: 0.5;
    left: 20px;
    bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-ui-button img {
    width: 100%;
}

.profile-iframe {
    display: flex;
    z-index: 2;
    position: fixed;
    height: 100vh;

    outline: none;
    border: none;
}

.profile-iframe-click {
    z-index: 1;
}

.screen-overlay {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    opacity : 0;
    position: absolute;
    z-index: 2;
    transition: 0.2s ease-in-out;
}

.screen-overlay-click {
    opacity: 1;
}

.black-overlay {
    z-index: 0;
    height: 100vh;
    position: relative;
    opacity: 0.5;
    background-color: black;
}

.profile-topbar > nav {
    width: 100%;
    height: 60px;
    border: 3px solid green;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: absolute;
}

.profile-topbar > nav > ul > li > a {
    color: #fff;
    text-decoration: none;
}

.profile-topbar > nav > ul {
    list-style: none;
}

.profile-left-nav,
.profile-right-nav {
    display: flex;
    justify-content: center; /* Debugg For now that functions are not complete */
    align-items: center;
    margin: 0 15px;
}

.profile-right-nav {
    width: 199px;
    justify-content: flex-end;
}

.profile-left-nav > li,
.profile-right-nav > li {
    margin: 0 15px;
}

.profile-searchbar {
    background-color: #fff;
    height: 40px;
    width: 400px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-searchbar > form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-searchbar > form > button {
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 5px 0 10px;
}

.profile-searchbar > form > input {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
    font-size: 14px;
}

.qUser-info {
    color: #7f7f7f;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 5px -2px black;

    top: 10%;

    width: 350px;
    height: 65%;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.qUser-info::-webkit-scrollbar {
    width: 8px;
}

.qUser-info::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: grey;
}

.qUser-interact {
    
}

.qUser-desc,
.qUser-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.qUser-desc {
    border-bottom: 1px solid #d3d3d3;
    width: 80%;
}

.qUser-desc > div,
.qUser-contact > div {
    margin: 10px;
}

.qUser-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qUser-options > a {
    color: #7f7f7f;
    text-decoration: none;
    display: block;
    border: 1px solid #7f7f7f;
    border-radius: 3px;
    margin: 7px 0;
    padding: 4px;
    width: 160px;
    height: 30px;
}

.qUser-options > a:first-of-type {
    background-color: #3498db;
    border: none;
    color: #fff;
    border: 1px solid #3498db;
}

.profile-qUser-avatar {
    width: 95px;
    height: 95px;
    border-radius: 100%;
    overflow: hidden;
    background-color: black;
}

.profile-qUser-avatar > img {
    height: 100%;
}


/** media queries **/

@media only screen and (max-width: 400px) { /** Mobile Version **/
    
    .register-artwork {
        display: none;
    }
    .register-form {
        position: relative;
        left: 50px;
    }

}

@media only screen and (min-width: 401px) and (max-width: 960px) { /** tablet Version **/

}

@media only screen and (min-width: 961px) and (max-width: 1919px) {/** for 1336x 728 **/
    .qUser-info {
        height: 75%;
    }
  
}

@media only screen and (min-width: 1920px) {/** for 1920x1080 **/
  

}