<div style="justify-content: center;" class="setup-wrapper">

<header class="portlogue-setup-icon">
    <img src="/assets/icons/portlogue-setup-icon.svg" alt="PortLogue-icon"/>
</header>

<section class="setup-section">
    <div class="country-setup">
        <div class="setup-greeter">
            <h1 style="color: #636363;">Welcome, <%= User.firstName.charAt(0).toUpperCase() + User.firstName.slice(1); %>!</h1>
            <p class="h1-sub" style="color: #7c7c7c;">Let's setup your profile, tell us which country you come from!</p>
        </div>
        <form method="POST" action="" class="country-setup-form">
            <div class="country-1-div">
                <label for='country'>Country/Region</label>
                <select name='country'>
                    <option value="" disabled selected hidden>Select your option</option>
                    <% for(let val of selectCountry) {%>
                        <option value="<%= val %>"><%= val%></option>
                    <% } %>

                </select>
            </div>
            <div class="country-2-div">
                <label for='postalCode'>Postal Code</label>
                <input name="postalCode" type="name"/>
            </div>
            <button style="margin-top: 25px;" class="setup-button" type="submit">Next</button>
            
        </form>
    </div>
</section>


<ul>
        <% for(let val of errors) {%>
            <li><%= val.msg %></li>
        <% } %>
</ul>

</div>

<script>
    $(`.setup-button`).on(`click`, ()=> {
        $(`.setup-button`).attr(`disabled`,`true`);
        $(`.setup-button`).html(`<div class="loader"></div>`);
        $(`.country-setup-form`).submit();
    });
</script>