<div class="setup-wrapper">

<header class="portlogue-setup-icon">
    <img src="/assets/icons/portlogue-setup-icon.svg" alt="PortLogue-icon"/>
</header>

<section>
    <div class="country-setup">
    <div class="setup-greeter">
        <h1 style="color: #636363;">Link your website</h1>
        <p class="h1-sub" style="color: #7c7c7c;">Showcase your first website to the <br/> portlogue community!</p>
    </div>
    <div>
        <form method="POST" action="" class="country-setup-form">
            <div class="country-2-div">
            <label for="url">Link</label>
            <input id="linkInput" type="url" name="url" placeholder="https://www.YourWebsite.com"/>
            </div>

            <div class="country-2-div">
                    <label for="webName">Website Name</label>
                    <input id="webNameId" type="text" name="siteName"/>
            </div>

            <div class="country-1-div">
                    <label for="styles">Design Styles</label>
                        <select data-placeholder="" multiple class="chosen-select" name="styles">
                            <option value="3d-illustration">3-dimensional Illustration</option>
                            <option value="retro">Retro</option>
                            <option value="cartoons-illustrations">Cartoons & Illustrations</option>
                            <option value="unique-typography">Unique Typography</option>
                            <option value="material">Material</option>
                            <option value="two-tone-color">Two Tone color</option>
                            <option value="photo-realism">Photo-Realism</option>
                            <option value="transparency">Transparency</option>
                            <option value="grunge">Grunge</option>
                            <option value="abstract">Abstract</option>
                            <option value="semi-flat">Semi-Flat</option>
                            <option value="card-design">Card Design</option>
                            <option value="Isometric">Isometric</option>
                            <option value="freehand-drawing">Freehand Drawing</option>
                            <option value="minimalist">Minimalist</option>
                        </select>
            </div>

            <div class="country-2-div">
                    <label for="technologies">Technologies</label>
                        <select data-placeholder="" multiple class="chosen-select" name="technologies">
                            <option value="angularjs">AngularJS</option>
                            <option value="apache">Apache</option>
                            <option value="barbajs">Barba.js</option>
                            <option value="backbonejs">Backbone.js</option>
                            <option value="Bootstrap">Bootstrap</option>
                            <option value="css-framework">CSS Framework</option>
                            <option value="css3">CSS3</option>
                            <option value="cloudfare">CloudFare</option>
                            <option value="craft-cms">Craft CMS</option>
                            <option value="createjs">CreateJS</option>
                            <option value="d3">D3</option>
                            <option value="debian">Debian</option>
                            <option value="demandware">Demandware</option>
                            <option value="drupal">Drupal</option>
                            <option value="express">Express</option>
                            <option value="facebook-api">Facebook API</option>
                            <option value="fastclick">FastClick</option>
                            <option value="firebase">Firebase</option>
                            <option value="font-awesome">Font Awesome</option>
                            <option value="glsl">GLSL</option>
                            <option value="gsap-animation">GSAP Animation</option>
                            <option value="google-app-engine">Google App Engine</option>
                            <option value="google-font-api">Google Font API</option>
                            <option value="html5">HTML5</option>
                            <option value="hammerjs">Hammer.JS</option>
                            <option value="handlebars">HandleBars</option>
                            <option value="iis">IIS</option>
                            <option value="ink">Ink</option>
                            <option value="knockout">Knockout</option>
                            <option value="laravel">Laravel</option>
                            <option value="lo-dash">Lo-dash</option>
                            <option value="magento">Magento</option>
                            <option value="mediaelementjs">MediaElement.js</option>
                            <option value="microsoft-asp-net">Microsoft ASP.NET</option>
                            <option value="modernizr">Modernizr</option>
                            <option value="nginx">Nginx</option>
                            <option value="nodejs">Node.js</option>
                            <option value="nuxtjs">Nuxt.js</option>
                            <option value="owl-carousel">OWL Carousel</option>
                            <option value="optimizely">Optimizely</option>
                            <option value="php">PHP</option>
                            <option value="pixijs">PixiJS</option>
                            <option value="reactjs">ReactJS</option>
                            <option value="requirejs">RequireJS</option>
                            <option value="revealjs">Reveal.js</option>
                            <option value="ruby">Ruby</option>
                            <option value="svg">SVG</option>
                            <option value="shopify">Shopify</option>
                            <option value="skrollrjs">Skrollr.js</option>
                            <option value="snapsvg">Snap.svg</option>
                            <option value="socketio">Socket.io</option>
                            <option value="soundmanager">SoundManager</option>
                            <option value="spinjs">Spin.js</option>
                            <option value="threejs">Three.js</option>
                            <option value="twitter-api">Twitter API</option>
                            <option value="typekit">Typekit</option>
                            <option value="ubuntu">Ubuntu</option>
                            <option value="underscorejs">Underscore.js</option>
                            <option value="vr">VR</option>
                            <option value="varnish">Varnish</option>
                            <option value="velocityjs">Velocity.js</option>
                            <option value="videojs">VideoJS</option>
                            <option value="vuejs">Vue.js</option>
                            <option value="webgl">WebGL</option>
                            <option value="websockets">WebSockets</option>
                            <option value="webvr">WebVR</option>
                            <option value="webpack">Webpack</option>
                            <option value="woocommerce">WooCommerce</option>
                            <option value="wordpress">Wordpress</option>
                            <option value="yepnope">Yepnope</option>
                            <option value="youtube-api">Youtube API</option>
                            <option value="zepto">Zepto</option>
                            <option value="jquery">jQuery</option>
                            <option value="tweenjs">tween.js</option>
                        </select>
            </div>

            <div style="width: 100%;" class="country-2-div">
                    <label for="colors">Colors</label>
                                            <input id="webColors" type="hidden" name="colors"/>
        
                                            <div class="color-wrapper">
                                                <div onclick="colorSelect(this)" data-color="black" class="color-shape">
                                                    <div class="cc color-black"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="blue" class="color-shape">
                                                        <div class="cc color-blue"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="brown" class="color-shape">
                                                        <div class="cc color-brown"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="turqoise" class="color-shape">
                                                        <div class="cc color-turqoise"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="orange" class="color-shape">
                                                        <div class="cc color-orange"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="pink" class="color-shape">
                                                        <div class="cc color-pink"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="red" class="color-shape">
                                                        <div class="cc color-red"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="grey" class="color-shape">
                                                        <div class="cc color-grey"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="white" class="color-shape">
                                                        <div class="cc color-white"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="yellow" class="color-shape">
                                                        <div class="cc color-yellow"><!--Color --></div>
                                                </div>
                                            </div>
            </div>

            <div class="country-2-div">
                    <label for="description">Description</label>
                    <textarea name="description" maxlength="500"></textarea>
                    <p>Max: 500</p>
            </div>
            <button class="setup-button" type="submit">Add Website</button>
            <a style="width: 100%;" class="avatar-button finish-setup" href="/">Skip</a>
        </form>
    </div>
    </div>
</section>

<% for(let val of errors) {%>
    <li><%= val.msg %></li>
<% } %>

</div>

<script>

let colorArray = [];

$(".chosen-select").chosen({ width: 500 });


    $(`#linkInput`).on(`click`, ()=> {
        let text = $(`#linkInput`);
        (!text.val()) ?  text.val(`https://${text.val()}`) : "";
    });

    $(`.setup-button`).on(`click`, ()=> {
        $(`.setup-button`).attr(`disabled`,`true`);
        $(`.setup-button`).html(`<div class="loader"></div>`);
        $(`.country-setup-form`).submit();
    });

//Choose color value
function colorSelect(element) {

    if (element.className === "color-shape") {
        element.className = "color-shape active"
    }

    else {
        element.className = "color-shape"
    }

    let color = element.getAttribute("data-color");

    let isSelected = false;

    for ( let val of colorArray) {
        if (val === color) {
            isSelected = true;
        }
    }

    if (isSelected) {
        for (let i = 0; i < colorArray.length; i++) {
            if (colorArray[i] === color) {
                colorArray.splice(i, 1);
            }
        }
    }

    else {
        colorArray.push(color);
    }

    $("#webColors").val(colorArray);
    console.log($("#webColors").val());

            
};

</script>