<div class="setup-wrapper">

<header class="portlogue-setup-icon">
    <img src="/assets/icons/portlogue-setup-icon.svg" alt="PortLogue-icon"/>
</header>

<section>
    <div class="country-setup">
    <div class="setup-greeter">
        <h1 style="color: #636363;">Link your website</h1>
        <p class="h1-sub" style="color: #7c7c7c;">Showcase your first website to the <br/> portlogue community!</p>
    </div>
    <div>
        <form method="POST" action="" class="country-setup-form">
            <div class="country-2-div">
            <label for="url">Link</label>
            <input id="linkInput" type="url" name="url" placeholder="https://www.YourWebsite.com"/>
            </div>

            <div class="country-2-div">
                    <label for="webName">Website Name</label>
                    <input id="webNameId" type="text" name="siteName"/>
            </div>

            <div class="country-1-div">
                    <label for="type">Type</label>
                    <select data-placeholder="" class="chosen-select" name="type">
                        <option value=""></option>
                        <option value="portfolio">Portfolio Website</option>
                        <option value="ECommerce">E-Commerce</option>
                        <option value="Photosharing">Photo Sharing Website</option>
                        <option value="Writers">Writers/Authors Websites</option>
                        <option value="Community">Community Building Website</option>
                        <option value="Mobile">Mobile Device Websites</option>
                        <option value="Blogs">Blogs</option>
                        <option value="Informational">Informational Websites</option>
                        <option value="Online-Business">Online Business Brochure/Catalog</option>
                    </select>
            </div>

            <div class="country-2-div">
                    <label for="category">Category</label>
                        <select data-placeholder="Edit category" multiple class="chosen-select" name="category">
                        <option value="Architecture">Architecture</option>
                        <option value="Art-Illustration">Art & Illustration</option>
                        <option value="business-corporate">Business & Corporate</option>
                        <option value="culture-education">Culture & Education</option>
                        <option value="Design-Agencies">Design Agencies</option>
                        <option value="Events">Events</option>
                        <option value="Experimental">Experimental</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Film-TV">Film & TV</option>
                        <option value="Food-Drink">Food & Drink</option>
                        <option value="Games-Entertainment">Games & Entertainment</option>
                        <option value="Hotel/Restaurant">Hotel/Restaurant</option>
                        <option value="Institutions">Institutions</option>
                        <option value="Magazine/Newspaper">Magazine/Newspaper</option>
                        <option value="Mobile-Apps">Mobile & Apps</option>
                        <option value="Music-Sound">Music & Sound</option>
                        <option value="Photography">Photography</option>
                        <option value="Promotional">Promotional</option>
                        <option value="Real-Estate">Real Estate</option>
                        <option value="Sports">Sports</option>
                        <option value="Startups">Startups</option>
                        <option value="Technology">Technology</option>
                        <option value="Web-Interactive">Web & Interactive</option>
                        <option value="Other">Other</option>
                    </select>
            </div>

            <div style="width: 100%;" class="country-2-div">
                    <label for="colors">Colors</label>
                                            <input id="webColors" type="hidden" name="colors"/>
        
                                            <div class="color-wrapper">
                                                <div onclick="colorSelect(this)" data-color="black" class="color-shape">
                                                    <div class="cc color-black"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="blue" class="color-shape">
                                                        <div class="cc color-blue"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="brown" class="color-shape">
                                                        <div class="cc color-brown"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="turqoise" class="color-shape">
                                                        <div class="cc color-turqoise"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="orange" class="color-shape">
                                                        <div class="cc color-orange"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="pink" class="color-shape">
                                                        <div class="cc color-pink"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="red" class="color-shape">
                                                        <div class="cc color-red"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="grey" class="color-shape">
                                                        <div class="cc color-grey"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="white" class="color-shape">
                                                        <div class="cc color-white"><!--Color --></div>
                                                </div>
                                                <div onclick="colorSelect(this)" data-color="yellow" class="color-shape">
                                                        <div class="cc color-yellow"><!--Color --></div>
                                                </div>
                                            </div>
            </div>

            <div class="country-2-div">
                    <label for="description">Description</label>
                    <textarea name="description" maxlength="500"></textarea>
                    <p>Max: 500</p>
            </div>
            <button class="setup-button" type="submit">Add Website</button>
            <a style="width: 100%;" class="avatar-button finish-setup" href="/">Skip</a>
        </form>
    </div>
    </div>
</section>

<% for(let val of errors) {%>
    <li><%= val.msg %></li>
<% } %>

</div>

<script>

let colorArray = [];

$(".chosen-select").chosen({ width: 500 });


    $(`#linkInput`).on(`click`, ()=> {
        let text = $(`#linkInput`);
        (!text.val()) ?  text.val(`https://${text.val()}`) : "";
    });

    $(`.setup-button`).on(`click`, ()=> {
        $(`.setup-button`).attr(`disabled`,`true`);
        $(`.setup-button`).html(`<div class="loader"></div>`);
        $(`.country-setup-form`).submit();
    });

//Choose color value
function colorSelect(element) {

    if (element.className === "color-shape") {
        element.className = "color-shape active"
    }

    else {
        element.className = "color-shape"
    }

    let color = element.getAttribute("data-color");

    let isSelected = false;

    for ( let val of colorArray) {
        if (val === color) {
            isSelected = true;
        }
    }

    if (isSelected) {
        for (let i = 0; i < colorArray.length; i++) {
            if (colorArray[i] === color) {
                colorArray.splice(i, 1);
            }
        }
    }

    else {
        colorArray.push(color);
    }

    $("#webColors").val(colorArray);
    console.log($("#webColors").val());

            
};

</script>