<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PortLogue</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Send feedback</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#"><div><img src="#"/></div></a></li>
                    <li><a href="#"><div><img src="#"/></div></a></li>
                    <li><a href="#"><div><img src="#" alt="profile-icon"/></div><ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Account Settings</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul></a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section>
        <div>
            <img src="#" alt="portlogue-logo"/>
            <span>Search away, your portfolio awaits...</span>
    
            <div>
                <form method="GET" action="/search">
                    <div>
                        <input type="text" name="searchQry"/>
                        <div>
                            <label for="filterSearch">Filter</label>
                            <select name="filterSearch">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
    
            <span>Friends quick access</span>
            <div>
                <!-- Friends quick access list -->
            </div>
        </div>
    
        <div>
            <span>Scroll down to see the discover page</span>
            <img src="" alt="arrow-down"/>
        </div>
    </section>

    <%- body %> 

    <section>
        <h1>Websites that you might also like...</h1>

        <div>
            <div>
                <div><!-- Portfolio Image background --></div>
                <div><!-- This is to be a realtive -->
                    <div><img src="#" alt="User-avatar"/></div>
                    <h2>UserName</h2>
                    <p>User-bio</p>
                    <a href="#">POrtfolio-link</a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div>
            <div><img src="#" alt="portlogue-icon"/></div>
            <span>Sharing and browsing personal websites made easy!</span>
            <p>Showcase and share your wordpress, wix,
                weebly, and shopify websites with portlogue. Portlogue stores your websites in a single account and displays it upon clicking on your 
                profile. Join a community where it's all about 
                sharing and exploring personal websites.</p>
            <div>
                <div><img src="#" alt="facebook-icon"></div>
                <div><img src="#" alt="youtube-icon"></div>
                <div><img src="#" alt="linkedin-icon"></div>
                <div><img src="#" alt="twitter-icon"></div>
            </div>
        </div>

        <div>
            <h3>PortLogue</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#"></a>Contact</li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>

        <div>
            <h3>Community</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>

        <div>
            <h3>Placeholder</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>

        <div>
            <h3>Placeholder</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>