<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PortLogue</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <header class="home-header">
        <nav class="home-nav">
            <div class="home-left-nav">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Send feedback</a></li>
                </ul>
            </div>
            <div class="home-right-nav">
                <ul>
                    <li><a href="#"><div><img class="nav-icons" src="/assets/icons/icons8-chat-room-96.png"/></div></a></li>
                    <li><a href="#"><div><img class="nav-icons" src="/assets/icons/icons8-bell-96.png"/></div></a></li>
                    <li><div class="profile-icon-wrapper" style="cursor: pointer;"><img class="nav-profile-icon" src="/publicAvatar/<%=User.email%>" alt="profile-icon"/></div><ul class="home-nav-dropdown">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Account Settings</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                    </ul></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="home-search">

        <div>
            <!-- Empty div for allignment  -->
        </div>

        <div class="home-search-main">
            <img style="width: 160px;" src="/assets/icons/logo_noText.svg" alt="portlogue-logo"/>
            <span style="color: #d3d3d3" class="home-search-text"><h2>Search away, your portfolio awaits...</h2></span>
    
            <div class="home-search-form">
                <form method="GET" action="/search">
                    <button type="submit"><img class="nav-icons" src="/assets/icons/icons8-search-filled-96.png" alt="search-icon"/></button>
                    <input type="text" name="q"/>
                </form>
                <div class="home-quick-search">
                    <div>
                        
                        <div><p>Quick Search</p><img class="nav-icons" src="/assets/icons/icons8-expand-arrow-96.png" alt="arrow-down"/></div>
                    
                        <ul class="home-quick-dropdown">
                            <li><a href="/search?q=General+Portfolio">General Portfolio</a></li>
                            <li><a href="/search?q=Creative+Portfolio">Creative Portfolio</a></li>
                            <li><a href="/search?q=Art+Portfolio">Art Portfolio</a></li>
                            <li><a href="/search?q=Photography+Portfolio">Photography Portfolio</a></li>
                            <li><a href="/search?q=Videography+Portfolio">Videography Portfolio</a></li>
                            <li><a href="/search?q=Academic+Portfolio">Academic Portfolio</a></li>
                            <li><a href="/search?q=Professional+Portfolio">Professional Portfolio</a></li>
                            <li><a href="/search?q=Business+Portfolio">Business Portfolio</a></li>
                        </ul>
                    
                    </div>
                </div>
            </div>
    
            <!-- <span> History quick access</span> -->
            <div class="user-history">                
                <span><p>Recently visited users</p></span>

                <ul>
                    <% for(let val of userHistory) {%>
                        <li>
                            <a href="/users/profile/redirect/<%=val%>"><div class="history-img-wrapper"><img class="user-history-profiles" src="/publicAvatar/redirect/<%=val%>"/></div></a>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    
        <div>
            <span><p>Scroll down to see the discover page</p></span>
            <img class="nav-icons" src="/assets/icons/icons8-expand-arrow-96.png" alt="arrow-down"/></div>
        </div>
    </section>

    <%- body %> 

    <section>
        <h1>Websites that you might also like...</h1>

        <div>
            <div>
                <div><!-- Portfolio Image background --></div>
                <div><!-- This is to be a realtive -->
                    <div><img src="#" alt="User-avatar"/></div>
                    <h2>UserName</h2>
                    <p>User-bio</p>
                    <a href="#">POrtfolio-link</a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div>
            <div><img src="#" alt="portlogue-icon"/></div>
            <span>Sharing and browsing personal websites made easy!</span>
            <p>Showcase and share your wordpress, wix,
                weebly, and shopify websites with portlogue. Portlogue stores your websites in a single account and displays it upon clicking on your 
                profile. Join a community where it's all about 
                sharing and exploring personal websites.</p>
            <div>
                <div><img src="#" alt="facebook-icon"></div>
                <div><img src="#" alt="youtube-icon"></div>
                <div><img src="#" alt="linkedin-icon"></div>
                <div><img src="#" alt="twitter-icon"></div>
            </div>
        </div>

        <div>
            <h3>PortLogue</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>

        <div>
            <h3>Community</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>

        <div>
            <h3>Placeholder</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>

        <div>
            <h3>Placeholder</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>