<section id="discoverSection">
        <div>
                <ul>
                    <li><a href="/discover/new#discoverSection">New</a></li>
                    <li><a href="/discover/highest_rated#discoverSection">Highest Rated</a></li>
                    <li><a href="/discover/most_viewed#discoverSection">Most Viewed</a></li>
                    <li><a href="/discover/suggestions#discoverSection">Suggestions</a></li>
                    <li><a href="/discover/friends#discoverSection">Friends</a></li>
                </ul>
            </div>
</section>

<section>
    <ul>
            <%- (function(qUsersForRates) {
                let newDisplay = [];
        
                if (qUsersForRates.length <= 10) {
                    for (let i = 0; i < qUsersForRates.length; i++) {
                        newDisplay.push( `<li><a href="/users/${qUsersForRates[i].username}">
                            <div>
                                <div><!--Grey bar--></div>
                                <div><img src="/userWebThumb/${qUsersForRates[i].email}"/></div>
                            </div></a>
                            <div>
                                <div>
                                    <div><img src="/publicAvatar/${qUsersForRates[i].email}"/></div>
                                    <a href="/users/${qUsersForRates[i].username}">${qUsersForRates[i].fullNameDisplay}</a>
                                </div>
                                <span>${qUsersForRates[i].occupation}</span>
                            </div>
                        </li>`);
                    }
                    return newDisplay.join('');
                }
                else {
                    for (let i = 0; i < 10; i++) {
                        newDisplay.push( `<li><a href="/users/${qUsersForRates[i].username}">
                                <div>
                                    <div><!--Grey bar--></div>
                                    <div><img src="/userWebThumb/${qUsersForRates[i].email}"/></div>
                                </div></a>
                                <div>
                                    <div>
                                        <a href="/users/${qUsersForRates[i].username}">
                                            <div><img src="/publicAvatar/${qUsersForRates[i].email}"/></div>
                                            <span>${qUsersForRates[i].fullNameDisplay}</span>
                                        </a>
                                    </div>
                                    <span>${qUsersForRates[i].occupation}</span>
                                </div>
                            </li>`);
                    }
                    return newDisplay.join('');
                }
            })(qUsersForRates);%>
    </ul>
</section>