<section id="discoverSection">
        <div>
                <ul>
                    <li><a href="/discover/new#discoverSection">New</a></li>
                    <li><a href="/discover/highest_rated#discoverSection">Highest Rated</a></li>
                    <li><a href="/discover/most_viewed#discoverSection">Most Viewed</a></li>
                    <li><a href="/discover/suggestions#discoverSection">Suggestions</a></li>
                    <li><a href="/discover/friends#discoverSection">Friends</a></li>
                </ul>
            </div>
</section>

<section>
    <ul id="userQry"><!-- Custom Limited-->
        <%- (function(qUsers) {
            let newDisplay = [];
    
            if (qUsers.length < 10) {
                for (let i = 0; i < qUsers.length; i++) {
                    newDisplay.push( `<li><a href="/users/profile/${qUsers[i].username}">
                        <div>
                            <div><!--Grey bar--></div>
                            <div><img src="/userWebThumb/${qUsers[i].email}"/></div>
                        </div></a>
                        <div>
                            <div>
                                <div><img src="/publicAvatar/${qUsers[i].email}"/></div>
                                <a href="/users/profile/${qUsers[i].username}">${qUsers[i].fullNameDisplay}</a>
                            </div>
                            <span>${qUsers[i].occupation}</span>
                        </div>
                    </li>`);
                }
                return newDisplay.join('');
            }
            else {
                for (let i = 0; i < 10; i++) {
                    newDisplay.push( `<li><a href="/users/profile/${qUsers[i].username}">
                            <div>
                                <div><!--Grey bar--></div>
                                <div><img src="/userWebThumb/${qUsers[i].email}"/></div>
                            </div></a>
                            <div>
                                <div>
                                    <a href="/users/profile/${qUsers[i].username}">
                                        <div><img src="/publicAvatar/${qUsers[i].email}"/></div>
                                        <span>${qUsers[i].fullNameDisplay}</span>
                                    </a>
                                </div>
                                <span>${qUsers[i].occupation}</span>
                            </div>
                        </li>`);
                }
                return newDisplay.join('');
            }
        })(qUsers);%>
        </ul>
        <button id="loadMoreButton">Load More</button>
</section>

<script>

let generalCounter = 11;

let qUsers = <%- JSON.stringify(qUsers) %>

$(`#loadMoreButton`).on(`click`, function() {
    generalCounter++

    let newDisplay = [];
    
    for (let i = 0; i < 10; i++) {
                    newDisplay.push( `<a href="/users/profile/${qUsers[i + generalCounter].username}">
                            <div>
                                <div><!--Grey bar--></div>
                                <div><img src="/userWebThumb/${qUsers[i + generalCounter].email}"/></div>
                            </div></a>
                            <div>
                                <div>
                                    <a href="/users/profile/${qUsers[i + generalCounter].username}">
                                        <div><img src="/publicAvatar/${qUsers[i + generalCounter].email}"/></div>
                                        <span>${qUsers[i + generalCounter].fullNameDisplay}</span>
                                    </a>
                                </div>
                                <span>${qUsers[i + generalCounter].occupation}</span>
                            </div>
                        `);
                }
    let content = newDisplay.join('');

    let toAppend = document.createElement(`LI`);
    toAppend.innerHTML = content;
    $(`#userQry`).append(toAppend);
})



</script>