<section id="discoverSection">
    <div>
            <ul>
                <li><a href="/discover/new#discoverSection">New</a></li>
                <li><a href="/discover/highest_rated#discoverSection">Highest Rated</a></li>
                <li><a href="/discover/most_viewed#discoverSection">Most Viewed</a></li>
                <li><a href="/discover/suggestions#discoverSection">Suggestions</a></li>
                <li><a href="/discover/friends#discoverSection">Friends</a></li>
            </ul>
        </div>
</section>

