
        
        <section class="about-structure">
            <div><h2>What is it?</h2></div>
            <p class="p-align">Portlogue was born with the idea that personal websites needed a platform where 
            sharing and browsing could be done intuitively and easily. Often times many of these websites 
                go unnoticed and ultimately end up lost in the web. Portlogue solves this problem by 
                making each user’s profile the website itself, which in turn makes searching and 
                browsing easier. Additionally, portlogue has a discover page where 
                users can showcase their personal website to people they may know or to browsing users. 
                Furthermore, like other social medias, portlogue comes equipped with features like 
                messaging, follow/unfollow, and commenting on profiles (which are essentially portfolios).
            </p>
        </section>
        <section class="about-structure">
            <div><h2>Development and release date</h2></div>
            <p class="p-align">Currently, portlogue is only in its infancy (pre-alpha) and development is being done by a 
            small team of programmers. Progress towards the release date is dependent on the growth 
            of the company as a whole. With that said, rest assured that we are pushing to get the site up
            and running as soon as the bugs permit.</p>      
                
            <p class="p-align"><em>Portlogue is looking to expand it’s development team</em>, if you are interested in joining the team
            you can find our information in the contact page. Similarly, if you want to have a closer look 
            at portlogue’s devlopment or just want to come say hi to the team, you can find our social media 
            and email links in the footer section and the contact page. </p>
        </section>
        