<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PortLogue</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/about-styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//unpkg.com/jscroll/dist/jquery.jscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script> 
    <script src="/scripts/front-end-functions.js"></script>
</head>
<body>
    
    
    <!-- Feedback on all pages -->
    <div id="got-feedback-button">
        <span>Got feedback?</span>
    </div>

    <div id="feedback-container">
        <div class="feedback-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
        <div class="feedback-dOne">
            <div class="feedback-header">
                <img src="/assets/icons/icons8-group-task-96.png"/>
                <span>Tell us what you think!</span>
            </div>
            <span style="font-weight: 100;" class="feedback-subheader">
                What do you think about portlogue? 
                if you'd like to provide feedback or suggest new features, 
                submit them through the form below.
            </span>
        </div>

        <div class="feedback-dTwo">
            <form id="feedback-form">
                <input id="feedback-email" required type="email" placeholder="Email"/>
                <textarea id="feedback-message" required maxlength="500" placeholder="Write your feedback"></textarea>
                <div class="feedback-form-div">
                    <button type="submit" id="feedback-form-submit">Send</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Emnd of feedback -->
    <!--
    <ul class="flash-settings">
            <% for (let val of error_msg) {%>
                <li class="flash-style f-error">
                        <div class="flash-info">
                            <span><strong>Error</strong></span>
                            <span><%=val.msg%></span>
                        </div>
                        <div class="flash-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
                </li>
            <% } %>
            <% for (let val of success_msg) {%>
                <li class="flash-style f-success">
                        <div class="flash-info">
                            <span><strong>Success</strong></span>
                            <span><%=val.msg%></span>
                        </div>
                        <div class="flash-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
                </li>
            <% } %>        
            <li class="flash-style f-success">
                    <div class="flash-info">
                        <span><strong>Success</strong></span>
                        <span></span>
                    </div>
                    <div class="flash-close"><img src="/assets/icons/icons8-delete-96.png"/></div>
            </li>
    </ul>
    -->
    <div class="hidden-overlay"><!-- Click to minimize all --></div>


    <div class="web-popup">
            <iframe id="web-frame">
            </iframe>
        </div>

    <header class="home-header">
        <nav class="home-nav">
            <div class="home-left-nav">
                <ul>
                    <li><a href="/"><img style="width: 50px;" src="/assets/icons/logo_noText.svg" alt="portlogue-logo"/></a></li>
                    <!--
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Advertise</a></li>
                    -->
                </ul>
            </div>

            <div class="home-search">
                    <div class="home-search-form">
                            <form method="GET" action="/search">
                                <button type="submit"><img class="nav-icons" src="/assets/icons/icons8-search-filled-96.png" alt="search-icon"/></button>
                                <input type="text" placeholder="Search users" name="q"/>
                            </form>
                            
                            <div class="home-quick-search">
                                
                                <div id="qs-dropdown">
                                    
                                    <div><p>Top Searches</p><img class="nav-icons" src="/assets/icons/icons8-expand-arrow-96.png" alt="arrow-down"/></div>
                                
                                    <ul class="home-quick-dropdown">
                                        <li><a href="/search?q=personal">Personal</a></li>
                                        <li><a href="/search?q=ecommerce">E-commerce</a></li>
                                        <li><a href="/search?q=photosharing">Photo Sharing</a></li>
                                        <li><a href="/search?q=mobile">Mobile Device</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
            </div>

            <div class="home-right-nav">
                <ul class="visitor-right-nav">
                    <!-- toFix -->
                   <li><a href="/users/login">Login</a></li>
                   <li><a href="/users/register">Sign up</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <%-body%>

    <section style="display: none;"> <!-- Emit for now -->
        <h1>Websites that you might also like...</h1>

        <div>
            <div>
                <div><!-- Portfolio Image background --></div>
                <div><!-- This is to be a realtive -->
                    <div><img src="#" alt="User-avatar"/></div>
                    <h2>UserName</h2>
                    <p>User-bio</p>
                    <a href="#">POrtfolio-link</a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div class="footer-container">
                <div class="footer-desc">
                    <!--
                        <div><img style="width: 70px; border: 1px solid #e5e5e5; border-radius: 5px 5px 0 0; margin-bottom: 5px; " src="/assets/icons/logo_noText.svg" alt="portlogue-logo"/></div>
                        <span class="footer-desc-span">Sharing and browsing websites made easy!</span>
                        <p class="footer-desc-p">Showcase and share your wordpress, wix,
                            weebly, and shopify websites with portlogue. Join a community where it's all about 
                            sharing and exploring websites.</p>
                        <div class="footer-desc-social">
                            
                            <div><img src="#" alt="facebook-icon"></div>
                            <div><img src="#" alt="youtube-icon"></div>
                            <div><img src="#" alt="linkedin-icon"></div>
                            <div><img src="#" alt="twitter-icon"></div>
                            
                        </div>
            
                        <p style="font-size: 16px; color: #7f7f7f;">©2019 PORTLOGUE. All rights reserved.</p>
                    -->
                </div>
                <ul class="footer-links">
                    <span>Quick Links</span>
                    <div class="footer-quicks">
                            <li><a href="/users/login">Login</a></li>
                            <li><a href="/users/register">Register</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="#">Contact</a></li>
                    </div>
                    <p style="font-size: 16px; color: #7f7f7f; margin-top: 10px;">©2019 PORTLOGUE. All rights reserved.</p>
                </ul>       
                <div class="empty-spot">

                </div>
        </div>
    </footer>

<script>

//Direct to register
function directRegister() {
    window.location.pathname= "/users/register";
}

$("#got-feedback-button").on("click", ()=> {
    $("#got-feedback-button").addClass("feedback-button-hide");
    $("#feedback-container").addClass("feedback-container-active");
});

$(".feedback-close").on("click", ()=> {
    $("#got-feedback-button").removeClass("feedback-button-hide");
    $("#feedback-container").removeClass("feedback-container-active");
});

$("#feedback-form").on("submit", ()=> {
    event.preventDefault();

    $(`#feedback-form-submit`).css(`background-color`, "transparent");
    $(`#feedback-form-submit`).html(`<div class="loaderD"></div>`);

    let email = $("#feedback-email").val();

    let message = $("#feedback-message").val();


        $.ajax({
            url: "/submit_feedback",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ email, message }),
            success: (data)=> {
                //Empty
                console.log(data);

                setTimeout(() => {
                    $(`#feedback-form-submit`).css(`color`, "#3498db");
                    $(`#feedback-form-submit`).html(`Sent ✓`);
                }, 2000);
                setTimeout(() => {
                    $("#got-feedback-button").removeClass("feedback-button-hide");
                    $("#feedback-container").removeClass("feedback-container-active");
                    $("#feedback-email").val("")
                    $("#feedback-message").val("");
                }, 3000);
            }
        });
});

</script>

</body>
</html>